@import url("https: //fonts.googleapis.com/css?family=Inter&display=swap");

body {
 font-family: 'Inter', sans-serif;
 margin: 0;
 padding: 0;
}

h2 {
 font-size: 25px;
}

.navbar {
 height: 55px;
 background-color: #F55A5A;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5px;
 color: white;
 font-size: 14.46px;
}

.logo {
 width: 24px;
 height: 24px;
}

.cards {
 display: flex;
}

.image {
 padding: 20px;
 border-radius: 30px;
 width: 125px;
 height: 168px;
}

.column {
 display: flex;
 flex-direction: column;
 color: #2B283A
}

nav {
 display: flex;
 align-content: flex-start;
 gap: 12px;
 height: 20px;
 align-items: center;

}

.firstline {
 margin-top: 20px;
}

.logo-position {
 width: auto;
 height: 20px;
}


.googlemap {
 text-decoration: underline;
 color: grey;
 font-size: 8px;
 align-items: center;
}

.secondline {
 border: 1px solid red;

}